.boxcontainer
{
	margin: auto;
	margin-top: 2%;
	position: relative;
	width: 500px;
	height: 42px;
	border: 4px solid #BD1616;
	padding: 0px 10px;
	border-radius: 50px;
}
.elementContainer
{
	width: 105%;
	height: 100%;
	vertical-align: middle;
}
.search
{
	border: none;
	height: 100%;
	width: 100%;
	padding: 0px 5px;
	border-radius: 50px;
	font-size: 18px;
	font-family: "Nunito";
	font-weight: 600;
	background-color: #F8F0DF;
}
.search:focus
{
	outline: none;
}
.material-icons
{
	font-size: 25;
	color: #BD1616;
}
